.searchBar {
  width: 100%;
  max-width: 700px;
  max-height: 40px;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.searchBar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 18px;
  color: #cac7ff;
}

.searchBar button img {
  width: 25px;
  filter: contrast(0);
  max-width: 25px; /* Adjust as needed */
  max-height: 25px; /* Adjust as needed */
}

.searchBar button {
  border: 0;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  filter: invert(1);
}

.searchBar input::placeholder {
  color: #0b0b0d;
}

.searchBar input {
  color: #0b0b0d;
}

.results {
  margin-top: 10px;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results li {
  margin: 5px 0;
}